In [2]:
import pandas as pd
from pycaret.regression import *

In [3]:
df = pd.read_csv("cardekho_imputated 2.csv")

In [4]:
def preprocess(df):
    df = df.drop("Unnamed: 0",axis=1)
    df = df.drop("car_name",axis=1)
    df['avg_car_price'] = (df['min_cost_price'] + df['max_cost_price'])/2
    df.drop(columns= ['min_cost_price', 'max_cost_price'], inplace = True)
    data = df
    data = data[data['selling_price'] < 20000000]
    data = data[data['km_driven'] < 1000000]
    data = data[data['mileage'] < 100]
    data = data[data['engine'] < 6100]
    data = data[data['max_power'] < 530]
    data = data.reset_index(drop=True)
    
    return data

In [5]:
data = preprocess(df)

In [6]:
def run():
    cat_f = ['brand', 'model', 'seller_type', 'fuel_type', 'transmission_type']
    exp_reg101 = setup(data = data, target = 'selling_price', categorical_features = cat_f,
                   ignore_features= [],
                   normalize = True,session_id = 123)
    best = compare_models(exclude = ['ransac'])
    gbr = create_model('gbr')
    
    return gbr

In [7]:
model = run()

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [8]:
gbr = create_model('gbr')
final_gbr = finalize_model(gbr)
print(final_gbr)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Pipeline(memory=Memory(location=C:\Users\Raghuram\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['vehicle_age', 'km_driven',
                                             'mileage', 'engine', 'max_power',
                                             'seats', 'avg_car_price'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=['brand', 'model', 'seller_type',
                                             'fuel_type', 'transmissio...
                 TransformerWrapper(include=['brand', 'model'],
                                    transformer=LeaveOneOutEncoder(cols=['brand',
                                                                         'model'],
                                                                   handle_missing='return_nan',
                                                                   random_state=123))),
                ('low_variance',
                 TransformerWrapper(exclude=[],
                                    transformer=VarianceThreshold(threshold=0))),
                ('normalize', TransformerWrapper(transformer=StandardScaler())),
                ('actual_estimator',
                 GradientBoostingRegressor(random_state=123))])

In [14]:
import pickle

In [15]:
Final_GBR_Model = pickle.dumps(final_gbr)

In [16]:
def preprocess_test_data(df):
    df = df.drop("Unnamed: 0",axis=1)
    df = df.drop("car_name",axis=1)
    df['avg_car_price'] = (df['min_cost_price'] + df['max_cost_price'])/2
    df.drop(columns= ['min_cost_price', 'max_cost_price'], inplace = True)
    data = df
    data = data[data['km_driven'] < 1000000]
    data = data[data['mileage'] < 100]
    data = data[data['engine'] < 6100]
    data = data[data['max_power'] < 530]
    data = data.reset_index(drop=True)
    
    return data

In [17]:
test = pd.read_csv("text_data.csv")
test_data = preprocess_test_data(test)

In [34]:
import pickle

# Load the pickled model
GB = pickle.load('Final_GBR_Model','rb')
GBR = pickle.loads(Final_GBR_Model)

TypeError: load() takes exactly 1 positional argument (2 given)

In [30]:
GBR.predict(test_data)

array([217302.48958987, 486427.64946229, 539357.41644217])

In [21]:
pre = GBR.predict(test_data)

In [22]:
pre

array([217302.48958987, 486427.64946229, 539357.41644217])

In [19]:
unseen_predictions = predict_model(GBR, data=test_data)

In [20]:
unseen_predictions.Label

0    217302.489590
1    486427.649462
2    539357.416442
Name: Label, dtype: float64

In [28]:
pickle_in = open("Final_GBR_Model.pkl","rb")
GBR=pickle.load(pickle_in)

In [24]:
GBR.p

array(['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power',
       'seats', 'avg_car_price'], dtype=object)

In [36]:
import sklearn.externals
import joblib

In [37]:
joblib.dump(final_gbr,'mymodel.pkl')

['mymodel.pkl']

In [38]:
model = joblib.load('mymodel.pkl')

In [ ]:
model.p